body{
	background-color: rgb(202, 24, 24);
	text-align: center;
	margin-top:140px;
}
.mini{
    display: flex;
    justify-content: center;
	cursor:pointer;
    padding: 30px;
}
.mini:hover{
	opacity:.5;
}


p{
	color:white;
	font-size: 2.5em;
}
h1{
	color:white;
	font-size: 5em;
	font-family: Arial, Helvetica, sans-serif;
}

.mini{
	border-radius: 60px;
}

button{
    
	border: 1px solid beige;
    border-radius: 60px;
    background-color: bisque;
    color: black;
    padding: 5pt;
font-size: xx-large;
   

}



